*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

header{
    background-color: #186F65;
    width: 100%;
    height: 70px;
    color: wheat;
}

.logo{
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.navigasi{
    margin-left: 700px;
    padding-top: 28px;
}

.navigasi ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.navigasi ul li a{
    text-decoration: none;
    color: wheat;
}

.navigasi ul li a:hover{
    color: lightskyblue;
    font-style: italic;
    border-bottom: #186F65;
}
/* END NAVBAR */

#banner{
    background-color: #B5CB99;
    height: 500px;
    text-align: center;
    color: azure;
}

#banner img{
    border-radius: 200px;
    height: 300px;
    border: 10px solid #FCE09B;
    margin-top: 100px;
}

#banner h1{
    margin-top: 10px;
    margin-bottom: 5px;
}
/* END BANNER */

#riwayat{
    text-align: center;
    color: #FCE09B;
    margin-top: 30px;
    align-content: center;  
}

img{
    height: 300px;
    width: 300px;
}

.card-left, .card-center, .card-right{
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 30px 7px;
    margin: 70px 20px 20px 55px;
}